.maatSliderWrapper {
  position: relative;
  cursor: grab;
}

.maatSliderContainer {

  position: relative;
  margin-bottom: 16px;
}

// .maatSliderItem {
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
//   width: 95%;
//   height: 95%;
//   // background-image:url(../../../assets/images/post_placeholder.svg);
//   background-size: cover;
//   background-repeat: no-repeat;
//   background-position: center;
// }


