<div style="font-size: 14px;" class="column g16">
    <div class="row jcsb">
        <div class="row g8 aic">
            <div>June 2024</div>
            <img src="assets/images/next.svg" alt="" width="10px">
        </div>
        <div class="row g16">
            <img src="assets/images/previous.svg" alt="" width="10px">
            <img src="assets/images/next.svg" alt="" width="10px">
        </div>
    </div>
    <div class="row">
        <div class="f1">
            <div style="color:#3C3C434D;">SUN</div>
            <div class="number">2</div>
            <div class="number">9</div>
            <div class="number">16</div>
            <div class="number">23</div>
            <div class="number">30</div>
        </div>
        <div  class="f1">
            <div style="color:#3C3C434D;">MON</div>
            <div  class="number">3</div>
            <div  class="number">10</div>
            <div  class="number">17</div>
            <div  class="number">24</div>
        </div>
        <div  class="f1">
            <div style="color:#3C3C434D;">TUE</div>
            <div class="number">4</div>
            <div class="number">11</div>
            <div class="number">18</div>
            <div class="number">25</div>
        </div>
        <div  class="f1">
            <div style="color:#3C3C434D;">WED</div>
            <div class="number">5</div>
            <div class="number">12</div>
            <div class="number">19</div>
            <div class="number">26</div>
        </div>
        <div  class="f1">
            <div style="color:#3C3C434D;">THU</div>
            <div class="number">6</div>
            <div class="number">13</div>
            <div class="number">20</div>
            <div class="number">27</div>
        </div>
        <div  class="f1">
            <div style="color:#3C3C434D;">FRI</div>
            <div class="number">7</div>
            <div class="number active">14</div>
            <div class="number">21</div>
            <div class="number">28</div>
        </div>
        <div  class="f1">
            <div style="color:#3C3C434D;">SAT</div>
            <div class="number">8</div>
            <div class="number">15</div>
            <div class="number">22</div>
            <div class="number">29</div>
        </div>
       
    </div>
</div>