<div class="column g8 p16 br8" style="background-color: #FBFBFB;">
    <div class="row jcsb aic">
        <div>Reminders</div>
        <div style="font-size: 20px;">+</div>
    </div>
    <div class="remind_item">The file #454566676 is not completed</div>
    <div class="remind_item">Check lab results for patient #348349</div>
    <div class="remind_item">Go through patient #234333 file</div>
    <div class="remind_item">Go through patient #234333 file</div>
    <div class="remind_item">Go through patient #234333 file</div>
    <div class="remind_item">Go through patient #234333 file</div>
    <div class="remind_item">Go through patient #234333 file</div>
    <div class="remind_item">Go through patient #234333 file</div>
</div>