<div class="main_dashboard">
    <div class="row jcsb" style="padding:16px 40px">
        <img src="assets/images/logo.png" width="106px" alt="">
        <div class="row g16 aic">
            <div class="row aic g4">
                <div style="color:#616161;font-size: 32px;">11:50</div>
                <div>
                    <div class="small">AUG</div>
                    <div class="small">2024</div>
                </div>
            </div>
            <div class="btn_secondary">
                <img src="assets/images/dark_mode.svg" width="24px" alt="">
                <div>Dark mode</div>
            </div>
            <div class="row">
                <div class="btn_secondary" style="border-top-right-radius: 0px;border-bottom-right-radius: 0px;">
                    <div>Get Support</div>
                </div>
                <div class="btn_secondary"
                    style="padding:16px 8px;border-top-left-radius: 0px;border-bottom-left-radius: 0px;">
                    <img src="assets/images/dropdown.svg" width="12px" alt="">
                </div>
            </div>
            <div class="profile_image"></div>
            <img src="assets/images/menu.svg" alt="" width="48px" class="cp">
        </div>
    </div>
    <div class="body">
        <div style="width:189px" class="column g32">
            <div class="menu_block">
                <div class="menu_item active">
                    <img src="assets/images/board.svg" width="24px" alt="">
                    <div>Dashboard</div>
                </div>
                <div class="menu_item">
                    <img src="assets/images/Patient.svg" width="24px" alt="">
                    <div>Patients</div>
                </div>
                <div class="menu_item">
                    <img src="assets/images/files.svg" width="24px" alt="">
                    <div>Medicals files</div>
                </div>
                <div class="menu_item">
                    <img src="assets/images/board2.svg" width="24px" alt="">
                    <div>Dashboard</div>
                </div>
            </div>
            <div class="menu_block">
                <div class="menu_item">
                    <img src="assets/images/board2.svg" width="24px" alt="">
                    <div>Settings</div>
                </div>
                <div class="menu_item">
                    <img src="assets/images/Patient.svg" width="24px" alt="">
                    <div>Patients</div>
                </div>
                <div class="menu_item">
                    <img src="assets/images/files.svg" width="24px" alt="">
                    <div>Medical files</div>
                </div>
                <div class="menu_item">
                    <img src="assets/images/board2.svg" width="24px" alt="">
                    <div>Dashboard</div>
                </div>
                <div class="menu_item">
                    <img src="assets/images/board2.svg" width="24px" alt="">
                    <div>Dashboard</div>
                </div>
                <div class="menu_item">
                    <img src="assets/images/board2.svg" width="24px" alt="">
                    <div>Update</div>
                </div>
                <div class="menu_item">
                    <img src="assets/images/board2.svg" width="24px" alt="">
                    <div>Import Data</div>
                </div>
                <div class="menu_item">
                    <img src="assets/images/board2.svg" width="24px" alt="">
                    <div>Export Data</div>
                </div>
                <div class="menu_item">
                    <img src="assets/images/board2.svg" width="24px" alt="">
                    <div>Collapse</div>
                </div>
                <div class="menu_item">
                    <img src="assets/images/board2.svg" width="24px" alt="">
                    <div>Collapse</div>
                </div>

            </div>
        </div>

        <div class="previewer">
            <div class="row jcsb">
                <div>
                    <div style="font-size:12px;">Good morning</div>
                    <div style="font-weight: bold;font-size: 16px;">Doctor Mbah Ignatius</div>
                </div>
                <div class="row g16">
                    <div style="width:535px">
                        <div class="input_element">
                            <input type="text" placeholder="Start a search...">
                            <img src="assets/images/search.svg" alt="" width="22px">
                        </div>
                    </div>
                    <div class="row">
                        <div class="btn_primary" style="border-top-right-radius: 0px;border-bottom-right-radius: 0px;">
                            <div>New Consultation</div>
                        </div>
                        <div class="btn_primary"
                            style="padding:16px 16px;border-top-left-radius: 0px;border-bottom-left-radius: 0px;border-left:1px solid #fff;">
                            <img src="assets/images/dropdown.svg" width="12px" alt="" style="filter:invert(1)">
                        </div>
                    </div>
                </div>
            </div>
            <hr style="opacity: 0.3;">
            <div class="row g16 ">
                <div class="f1 column g16">
                    <div class="row f1 g16">
                        <div class="br8 p16 f1 column g32" style="background-color:#FDF7EE;">
                            <div class="row" style="justify-content: flex-end;width: 100%;">
                                <div class="btn_secondary">
                                    <div style="font-size: 12px;">See all patients</div>
                                    <img src="assets/images/fleche.svg" width="16px" alt="">
                                </div>
                            </div>
                            <div class="column g8">
                                <div class="row">
                                    <div class="btn_secondary" style="background-color: white;">
                                        <div style="font-size: 12px;">TODAY</div>
                                        <img src="assets/images/dropdown.svg" width="16px" alt="">
                                    </div>
                                </div>

                                <div style="font-size: 12px;">CONSULTED PATIENTS</div>
                                <div style="font-size:28px;font-weight: bold;">28</div>
                            </div>
                        </div>
                        <div class="br8 p16 f1 column g32" style="background-color:#F2F2F2;">
                            <div class="row" style="justify-content: flex-end;width: 100%;">
                                <div class="btn_secondary">
                                    <div style="font-size: 12px;">See all appointments</div>
                                    <img src="assets/images/fleche.svg" width="16px" alt="">
                                </div>
                            </div>
                            <div class="column g8">
                                <div class="row">
                                    <div class="btn_secondary" style="background-color: white;">
                                        <div style="font-size: 12px;">TODAY</div>
                                        <img src="assets/images/dropdown.svg" width="16px" alt="">
                                    </div>
                                </div>

                                <div style="font-size: 12px;">APPOINTMENTS</div>
                                <div style="font-size:28px;font-weight: bold;">10</div>
                            </div>
                        </div>
                        <div class="br8 p16 f1 column g32" style="background-color:#F2F2F2;">
                            <div class="row" style="justify-content: flex-end;width: 100%;">
                                <div class="btn_secondary">
                                    <div style="font-size: 12px;">See all medical records</div>
                                    <img src="assets/images/fleche.svg" width="16px" alt="">
                                </div>
                            </div>
                            <div class="column g8">
                                <div class="row">
                                    <div class="btn_secondary" style="background-color: white;">
                                        <div style="font-size: 12px;">TODAY</div>
                                        <img src="assets/images/dropdown.svg" width="16px" alt="">
                                    </div>
                                </div>

                                <div style="font-size: 12px;">MEDICAL RECORDS</div>
                                <div style="font-size:28px;font-weight: bold;">137</div>
                            </div>
                        </div>
                    </div>
                    <div class="br8 p16" style="background-color: #FBFBFB;">
                        <table style="font-size: 12px;width:100%;table-layout: fixed; border-spacing: 0 8px;">
                            <tr>
                                <th>PATIENT ID</th>
                                <th>TITLE</th>
                                <th>PATIENT NAME</th>
                                <th>CONSULTATION DATE</th>
                                <th>TIME</th>
                                <th>VERDICT</th>
                            </tr>
                            <tr>
                                <td>#394743</td>
                                <td>Mr</td>
                                <td>Jhon paul</td>
                                <td>02.08.2024</td>
                                <td>12:25 AM</td>
                                <td>Go to the lab</td>
                            </tr>
                            <tr>
                                <td>#394743</td>
                                <td>Mr</td>
                                <td>Jhon paul</td>
                                <td>02.08.2024</td>
                                <td>12:25 AM</td>
                                <td>Go to the lab</td>
                            </tr>
                            <tr>
                                <td>#394743</td>
                                <td>Mr</td>
                                <td>Jhon paul</td>
                                <td>02.08.2024</td>
                                <td>12:25 AM</td>
                                <td>Go to the lab</td>
                            </tr>
                            <tr>
                                <td>#394743</td>
                                <td>Mr</td>
                                <td>Jhon paul</td>
                                <td>02.08.2024</td>
                                <td>12:25 AM</td>
                                <td>Go to the lab</td>
                            </tr>
                            <tr>
                                <td>#394743</td>
                                <td>Mr</td>
                                <td>Jhon paul</td>
                                <td>02.08.2024</td>
                                <td>12:25 AM</td>
                                <td>Go to the lab</td>
                            </tr>
                            <tr>
                                <td>#394743</td>
                                <td>Mr</td>
                                <td>Jhon paul</td>
                                <td>02.08.2024</td>
                                <td>12:25 AM</td>
                                <td>Go to the lab</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div style="width:360px;" class="column g8">
                   <app-calendar></app-calendar>
                   <hr>
                   <app-reminder></app-reminder>
                </div>
            </div>
        </div>
    </div>
</div>